[2019-01-16 07:12] Salman98 opened #2 "Phone Number Error"
### Environment

* React Native Version
* Platform:  Android
* Device:  Samsung
* OS Version 7
* react-native-sms-retriever version@1.0.1
* Build Tools Version (Android only)

### Description

i have added this lib and run your sample code but i received an error
{"framesToPop":1,"code":"ACTIVITY_RESULT_NOOK_ERROR_TYPE"}

[2019-01-16 12:32] Bruno-Furtado commented on #2
@Salman98,

This is an error handling for the cases where activity result is not ok.
Usually this error occurs when you do not select a hint picket number.

Maybe there some other problem...
Can you debug [this method](https://github.com/Bruno-Furtado/react-native-sms-retriever/blob/1.0.1/android/src/main/java/me/furtado/smsretriever/PhoneNumberHelper.java#L153) and share the results here?

[2019-01-24 10:05] Bruno-Furtado commented on #2
@Salman98, any other questions?

[2019-01-24 11:02] kush11 opened #3 "i am unable to retrive the message can you send the working example"
_onSmsListenerPressed = async () => {
    try {
      const registered = await SmsRetriever.startSmsRetriever();
      if (registered) {
        SmsRetriever.addSmsListener(event => {
          console.log(event.message);
//I am not able to get the response here event.message
          SmsRetriever.removeSmsListener();
        });
      }
    } catch (error) {

      console.log(JSON.stringify(err

[2019-01-24 12:11] Salman98 commented on #2
yes thanks for asking. I tried alot but i am unable to fix this , then i tried your example but it is also not working . Can you please tell me the complete steps

[2019-01-24 12:15] Bruno-Furtado commented on #2
@Salman98, can you debug this method and share the results here?

[2019-01-24 14:46] Bruno-Furtado commented on #3
@kush11, the const `registered` is true?

[2019-01-26 20:47] #3 closed

[2019-01-30 08:49] raghavendramogeraya commented on #3
Facing same issue. Using React native v0.56 and Android OS 7 and device Redmi Note 4.
Even the example is not working for me. Getting const registered as true. No further logs.
Please help me if any further settings required.

[2019-01-30 14:25] Bruno-Furtado commented on #3
@raghavendramogeraya, can you have phone numbers registered on your Google Account?
A good test is install the Lyft app and check if the app display the hint with your phone number on login screen.

[2019-01-31 06:38] raghavendramogeraya commented on #3
@Bruno-Furtado No. My number is not registered with Google Account. Is this requirement for this library? I installed Lyft app and it's also not showing the hint with my phone number on sign up screen.
Please let me know if any permission needs to be added to work this?

[2019-02-04 08:33] raghavendramogeraya commented on #3
@Bruno-Furtado Any updates?

[2019-02-07 11:54] Salman98 commented on #2
In this class "PhoneNumberHelper"
![image](https://user-images.githubusercontent.com/14360952/52410016-f019f600-2af8-11e9-80bb-132469ade855.png)
 After debugging the function i am getting following responses:

REQUEST_PHONE_NUMBER_REQUEST_CODE = 1
requestCode= 1
resultCode = 1002
Activity.RESULT_OK = -1

[2019-02-07 13:41] Bruno-Furtado commented on #2
The HintRequest API provided by Google has not fully accomplished its feature and is quite buggy.
See more details [here](https://stackoverflow.com/questions/46900310/play-services-hint-request-cannot-display-phone-numbers-when-requested/53607016#53607016).

[2019-02-20 10:53] Technaur opened #4 "Timeout error. Listener never returns event message from sms."
### Environment

* React Native Version: 58.3
* Platform: Android
* Device: Simulator
* OS Version: 9
* react-native-sms-retriever version
* Devtools: Android Studio Version
* Build Tools Version (Android only)

### Description

I trigger the _onSmsListenerPressed function with a button.  "const registered = await SmsRetriever.startSmsRetriever()" comes back as true. I then send a correctly format

[2019-02-20 12:04] Bruno-Furtado commented on #4
@Technaur, there are some rules for reading the content of the message. You can get more information [here](https://github.com/Bruno-Furtado/react-native-sms-retriever/wiki/SMS-Rules).

[2019-02-20 12:12] Technaur commented on #4
@Bruno-Furtado I did follow those guidelines. I got my sms to look like this.

`
<#> Company OTP: SABED7
MjcTZmXXYWY
`

[2019-02-20 12:21] Bruno-Furtado commented on #4
@Technaur, I'm not sure if it's the problem, but could you try to leave the hash on a new line?

[2019-02-20 12:40] Technaur commented on #4
This is actually what it looked like from the extended controls panel.

![image](https://user-images.githubusercontent.com/28387692/53092322-2013c100-351d-11e9-8669-7b474164e6d7.png)

I might not have had a new line character in there... It just appeared like there was a new line with the wrapping of the word. I will test again and get back to you shortly.

[2019-02-20 13:18] Technaur commented on #4
@Bruno-Furtado So this time I made sure that I have a newline character.

My Code.

[code]
Registered does come back on true, then after that I send the sms like in the image above. But my .addSmsListener is never triggered.

[2019-02-21 02:19] Bruno-Furtado commented on #4
@Technaur, can you debug the Java code on Android Studio? so we can get more details...

[2019-02-21 08:24] rutujayewalekar29 opened #5 "Problem attaching contact."
### Environment

* React Native Version: 0.55.4
* Platform: Android
* Device: One plus, Mi and emulator
* OS Version: 6,7,8
* react-native-sms-retriever version : 1.0.1

### Description
 I am using react native-sms-retriever to autofill otp and there is another place in app where I use react-native-contacts-picker to attach a contact. Now when I try to attach the contact I am unable to do so. I ge

[2019-02-21 11:23] Bruno-Furtado commented on #5
@rutujayewalekar29, thanks for the sugestion.
I'll work on this feature as soon as possible.
Feel free to open a PR as well.

[2019-03-04 20:31] ranjithkumar8352 commented on #4
Same issue here! I'm testing on Android 7.0 emulator with google play services

[2019-03-05 00:00] mpraki commented on #4
@Technaur @ranjithkumar8352 are you building your apk with the same keys you used to generate the hash? If its debug build and your hash is release apk's, Android system won't read the SMS.

Make sure you are building the APK with the same key which is used to generate the hash.

[2019-03-06 13:38] srivatsav commented on #4
@Technaur  are you generating the hashkey using your android debug keystore. The debug keystore can be found in  **~/.android/debug.keystore** . The password prompted for should be **android**
This worked for me. Hopefully, should work for you as well.

[2019-03-06 14:20] amrosama2020 opened #6 "Crash on startup IOS (undefined is not an object (evaluating 'i.requestPhoneNumber')' )"
### Environment

* React Native Version 0.49
* Platform: iBoth
* Device: Simulator
* OS Version: IOS 12
* react-native-sms-retriever 1.0.1
* Devtools: Xcode 12

### Description

I'm not sure if this is a genuine issue or a mistake on my behalf, I have successfully installed and integrated the SMS retriver and tested it on android.
But now I get the following error which crashes the application on

[2019-03-06 14:59] Bruno-Furtado commented on #6
Hey @amrosama2020, no worries. That's a good point. Would you open a PR with this fix?

[2019-03-07 17:46] Technaur commented on #4
@mpraki @srivatsav Turns out I was generating the hash completely wrong. I followed your advice by running this command.

`
keytool -exportcert -alias androiddebugkey -keystore '~\.android\debug.keystore' | xxd -p | tr -d "[:space:]" | echo -n <<<com.sms_listener>>> `cat` | sha256sum | tr -d "[:space:]-" | xxd -r -p | base64 | cut -c1-11
`

That generated the correct 11 character hash for me. Than

[2019-03-07 17:49] #4 closed

[2019-03-09 00:12] Bruno-Furtado commented on #6
@amrosama2020,

The #7 solved your problem. The version 1.0.2 was released today.
Now you will not have problems with import.

[2019-03-09 00:12] #6 closed

[2019-03-09 17:52] Bruno-Furtado commented on #5
@rutujayewalekar29,
The issue was solved in #8 and a new version of the library was generated (1.0.3).

[2019-03-09 17:52] #5 closed

[2019-03-09 18:00] Bruno-Furtado commented on #3
@raghavendramogeraya, just sharing...

I also noticed that this problem occurred to me when I didn't have a phone number on my Google account. I added a number but the problem has not been fixed. After a few days, I tested again and the number was displayed. So... I believe the Google API has some cache and it takes time to display the your number.

[2019-03-09 18:02] Bruno-Furtado commented on #2
@Salman98, check [this comment](https://github.com/Bruno-Furtado/react-native-sms-retriever/issues/3#issuecomment-471206532) as well.

[2019-03-10 08:10] amrosama2020 commented on #6
Thanks a lot Bruno, I can confirm that it is working now on IOS devices.

N.B. I tried a similar fix but yours is much cleaner, thank you.

[2019-04-17 08:51] nielsdB97 commented on #3
@Bruno-Furtado I'm also running into this issue. The listener resolves but when listening for incoming messages, no event is received when receiving an SMS.
I think the author of this issue was facing this same problem where we can't read incoming SMS messages, which is separate from the phonenumber issue #2.

[2019-05-07 06:56] rutujayewalekar29 commented on #5
@Bruno-Furtado Thanks! This fix solved my issue.

[2019-05-22 11:40] amey7 opened #11 "how to create the hash string in windows"
### Environment

* React Native Version  "0.59.8",
* Platform: Android
* Device: Simulator
* OS Version
* react-native-sms-retriever version
* Devtools: Xcode Version / Android Studio Version
* Build Tools Version (Android only)

### Description

I am trying to run the example which is being given by your team in github.everything executes fine.but when i send sms through the emulator shortcut the

[2019-05-22 11:46] Bruno-Furtado commented on #11
@amey7 please check [this documentation](https://developers.google.com/identity/sms-retriever/verify#computing_your_apps_hash_string).

[2019-05-22 11:46] #11 closed

[2019-06-19 21:36] RockinRonE opened #12 "Doesn't seem to install correctly"
### Environment

* "react-native": "0.59.5",
* Platform: Android
* Device: Pixel 3

* react-native-sms-retriever version: current
* Devtools: Android Studio Version: 3.1.2
* Build Tools Version (Android only)

Android Studio 3.1.2
Build #AI-173.4720617, built on April 13, 2018
JRE: 1.8.0_152-release-1024-b01 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.14.5

### Description

[2019-06-20 22:34] Bruno-Furtado commented on #12
@RockinRonE, can you describe the installations steps that you followed?

[2019-07-03 17:35] herlarb opened #13 "Already managing a GoogleAPIClient with id 0"
### Environment

* React Native Version: 0.59.10
* Platform:Android
* Device: Infinix Hot 4
* OS Version:6.0
* react-native-sms-retriever version: "^1.0.3"
* Devtools:Android Studio  : 3.4.1
* Build Tools Version : "28.0.3"

### Description

1.  Create a fresh react native project,
2.  Run the command yarn add react-native-sms-retriever
3.  Run react-native link react-native-sms-retriever
4. Run r

[2019-07-09 08:30] Rushi271193 commented on #4
Hey I have tried all the answers give n above. Nothing works for me. My evenlistener never gets triggered.

[2019-07-09 08:36] ranjithkumar8352 commented on #4
This issue happens if the hash is wrong.  I tried many suggested methods to generate hash but all of them were wrong. Maybe I did something wrong in the hash generation process. Finally, I had to use the `getHash()` method from another library to get the right hash - https://github.com/Rajat421/react-native-sms-retriever-api
Note: You can't install this library and above-mentioned library at the s

[2019-07-09 10:32] shehzadosama commented on #4
@ranjithkumar8352 can you please share the block of code that how you used the `getHash()` method? I am facing error while calling `getHash()` method in `componentDidMount()`

I am trying to use in this way:
` RNSmsRetriever.getHash().then(res => {
            console.log("GET HASH RES : ", res)
        }).catch(err => {
            console.log("GET HASH ERR : ", err)
        })`

Facing this erro

[2019-07-09 11:59] Rushi271193 commented on #4
@ranjithkumar8352 thanks for your input. That should solve for development . But what about the release variant. How do we get the correct signature

[2019-07-16 06:00] Thronie opened #14 "Support for AndroidX and React Native v0.60"
Describe the Feature
Compatibility with React Native v0.60. Here is some breaking changes: https://facebook.github.io/react-native/blog/2019/07/03/version-60

Possible Implementations
Adapt the code, here a starting point https://react-native-community.github.io/upgrade-helper/

Related Issues
The current version of react-native-sms-retriever is not compatible with React Native v0.60

[2019-07-26 03:54] ranjithkumar8352 commented on #4
Make sure that you completely remove this library and install that library properly. This error happens when this library is still linked.

[2019-07-26 03:58] ranjithkumar8352 commented on #4
@Rushi271193 I do the same for release variant as well. I build the app for release variant once and note down the hash.
@shehzadosama Here's the code I use to capture the hash.

[code]

[2019-07-26 10:53] Rushi271193 commented on #4
@ranjithkumar8352 I tried doing the same but the key generated for the signed apk doesn't work

[2019-07-26 14:29] Rushi271193 commented on #4
I am actually just using the signature class from java as both the libraries cannot be used together. I call the signature class in the Main activity and i receive a hash but it does not work. Can you help me out here

[2019-07-28 10:27] malithjkmt commented on #13
Same here

[2019-07-28 12:57] malithjkmt commented on #14
**requestPhoneNumber**, **startSmsRetriever** works but, **addSmsListener** does not work on

[code]

@Bruno-Furtado  any plan on looking in to this soon?

[2019-07-28 16:52] Bruno-Furtado commented on #14
@malithjkmt, yeah. I will look this week.

[2019-07-28 16:53] Bruno-Furtado commented on #13
Ok. I will look this week.

[2019-07-28 16:54] Bruno-Furtado commented on #12
@RockinRonE, any feedback? I will close this issue, ok?

[2019-07-30 06:58] ranjithkumar8352 commented on #4
@Rushi271193 You might be missing something with the signature class. I'm not sure about that. Why don't you just uninstall this library, install the other one and get hash?  It just takes 5 minutes

[2019-08-02 07:20] rt9092 commented on #13
@NonNull
    private GoogleApiClient getGoogleApiClient(@NonNull final Context context, final Activity activity) {
        if (mGoogleApiClient == null) {
            GoogleApiClient.Builder builder = new GoogleApiClient.Builder(context);
            builder = builder.addConnectionCallbacks(mApiClientConnectionCallbacks);
            builder = builder.addApi(Auth.CREDENTIALS_API);

            if

[2019-08-09 06:45] roninprogrammer commented on #13
@Bruno-Furtado , HI I still have same issue ? Any resolving

[2019-08-12 05:24] Thronie commented on #14
@Bruno-Furtado What is the status?

[2019-08-15 05:54] HodayaGruzman opened #15 "Null is not an object (evaluating RNSmsRetrieverModule.requestPhoneNumber"
### Android

* React Native 0.60
* Platform: Android
* Device: Which One / Simulator

### Description

I just add this plugin to my app using autolinking and when I running it, its crashed,

[2019-08-20 18:52] JulioOrellana commented on #13
Any update on this?

[2019-08-20 19:38] skptricks commented on #14
This is not working with react native version 0.60 and unable to detect sms using this library. please let me know what need to be done for this.

[2019-08-21 03:02] skptricks commented on #15
This is not working and also listener not working when any sms received. Currently working on react native version 0.60.

[2019-08-22 15:05] arthurstockler commented on #14
Fala Bruno! Alguma posição sobre AndroidX ?

[2019-09-03 09:58] shubhamdeol commented on #13
@Bruno-Furtado Any update on this?
I googled this error and found this:
https://stackoverflow.com/questions/36105118/error-in-fragment-already-managing-a-googleapiclient-with-id-0

Might help you tracking the bug.
I am not an android native developer. Let me know If I can help in some way

[2019-09-05 16:43] QuanticPotatoes commented on #14
@Bruno-Furtado any update with react native 0.60 support ?

[2019-09-06 11:56] Bruno-Furtado commented on #14
Hey guys, sorry about that.
I'm busy as a bee last weeks. 😕
Can anyone help me with this improvement?

[2019-09-06 11:57] Bruno-Furtado commented on #15
Moving to https://github.com/Bruno-Furtado/react-native-sms-retriever/issues/14

[2019-09-06 11:57] #15 closed

[2019-09-06 11:58] #12 closed

[2019-09-06 12:00] Bruno-Furtado commented on #13
Hey guys, sorry about that.
I'm busy as a bee last weeks. 😕
Can anyone help me with this improvement?

[2019-09-06 15:40] shubhamdeol commented on #13
@Bruno-Furtado  hey. I guess you don't need to fix this.
App never crashes once you build apk.
This error only occurs when user reloads the app by shaking his phone.
In this process on JavaScript bundle refreshes. Some process on native side keep on working as it is. Over all I have observed that App never crashes in production.

[2019-09-24 12:11] sagarhudge commented on #4
@mpraki how to generate hex for release with keystore path and on addSmslistener I am getting time out exception added on componentDidMount

[2019-09-25 04:59] sagarhudge commented on #4
@mpraki
This is for debug I am using -I have executed this command in `C:\Program Files\Java\jre1.8.0_191\bin` not asked for password.

keytool -exportcert -alias androiddebugkey -keystore '~\.android\debug.keystore' | xxd -p | tr -d "[:space:]" | echo -n com.opick.app cat | sha256sum | tr -d "[:space:]-" | xxd -r -p | base64 | cut -c1-11

For release same command need to be executed? like bellow

[2019-09-25 06:59] sagarhudge commented on #4
@shehzadosama can you tell me in which place you executed above command and also how you did for release and how you have give release keystore path

[2019-09-25 11:05] sagarhudge commented on #4
@mpraki @Bruno-Furtado @gitter-badger @ranjithkumar8352
The hash  key added in sms will always display or we can hide

[2019-09-25 13:12] ranjithkumar8352 commented on #4
@sagarhudge Hash is always displayed in the SMS

[2019-10-17 07:53] cmasus commented on #14
This react-native-sms-retriever works on RN 0.60 or higher if you use the Jetifier. I have proposed PR #16 to make this fully compatible with RN 0.60 and higher.

[2019-10-30 05:02] ashu-11 commented on #14
@Bruno-Furtado  any update regarding this method it is not reading the message from the apk

[2019-11-04 00:48] Ericky14 commented on #14
Any news on this? It doesn't seem to work even with @cmasus 's PR

[2019-12-05 10:50] wagnerdelima commented on #14
The issue still persists. Any updates on this guys?

[2019-12-08 15:31] yuritoledo opened #18 "Is project alive?"
Hello!

Is this guy still alive?

Thank you :)

[2019-12-21 11:52] sanchez1023 opened #19 "where to store hash key generated from keystore"
### Environment

* React Native Version
* Platform: iOS / Android / Both
* Device: Which One / Simulator
* OS Version
* react-native-sms-retriever version
* Devtools: Xcode Version / Android Studio Version
* Build Tools Version (Android only)

### Description

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or prints if needed.

### Solution

Do you

[2019-12-26 06:48] NikitaNeganov opened #20 "Only emits first event with redux-saga"
### Environment

* React Native Version: 0.59.10
* Platform: iOS / Android / Both: Android, obviously
* Device: Which One / Simulator: Android Studio Simulator
* OS Version: Android 10
* react-native-sms-retriever version: 1.0.3
* Devtools: Xcode Version / Android Studio Version:
Android Studio 3.5.2
Build #AI-191.8026.42.35.5977832, built on October 31, 2019
JRE: 1.8.0_202-release-1483-b49-558740

[2019-12-31 15:20] Bruno-Furtado commented on #13
Hey guys, I tested [v1.1.0](https://github.com/Bruno-Furtado/react-native-sms-retriever/releases/tag/1.1.0) and it's working for debug and release builds.

[2019-12-31 15:20] #13 closed

[2019-12-31 15:22] Bruno-Furtado commented on #14
Hey guys,
I updated the RN version of the project to 0.61.5: https://github.com/Bruno-Furtado/react-native-sms-retriever/pull/22
Now the module supporting AndroidX and new versions of RN.

[2019-12-31 15:22] #14 closed

[2019-12-31 15:23] Bruno-Furtado commented on #18
Hey @yuritoledo,
Yes. You can use the latest version ([v1.1.0](https://github.com/Bruno-Furtado/react-native-sms-retriever/releases/tag/1.1.0))

[2019-12-31 15:23] #18 closed

[2019-12-31 15:26] Bruno-Furtado commented on #19
@sanchez1023,

Take a look at [SMS Rules](https://github.com/Bruno-Furtado/react-native-sms-retriever/wiki/SMS-Rules) to know more about the hash key.

The latest version of the module (v1.1.0) includes the keystore inside the example folder so you can pull the latest changes (master branch) and try to read the message again using the same key as described on the SMS Rules page.

[2019-12-31 15:26] #19 closed

[2019-12-31 16:09] Bruno-Furtado commented on #20
@NikitaNeganov,

You can receive more than one message.
Here is an example I tested on the [example app](https://github.com/Bruno-Furtado/react-native-sms-retriever/tree/master/example):
<img width="647" alt="Screen Shot 2019-12-31 at 13 06 51" src="https://user-images.githubusercontent.com/2801580/71626952-8f8f1e00-2bce-11ea-8d47-32f7ce7d4e5d.png">

- - -

In summary:
- Keep the listener working

[2019-12-31 16:09] #20 closed

[2020-01-08 13:31] SergeyMelnyk opened #25 "Problem with install (application minimized)"
### Environment

* react-native: "0.60.5",
* Platform: Android
* Device: Which One
* react-native-sms-retriever: "^1.1.1",
* Build Tools Version (Android only)

### Description

I have problem, after install my app just show splash screen and minimized automatically

[2020-01-09 08:26] Bruno-Furtado commented on #25
@SergeyMelnyk are you talking about the example app of this repo? Or do you have a problem with another app that is using `react-native-sms-retriever`?

[2020-01-09 09:10] SergeyMelnyk commented on #25
@Bruno-Furtado hi, i talk about my app not this repo, and i found solution, so:

in logcat: `adb locat *:E` was error

after I edit my manifest

  provided "com.facebook.react:react-native:+"
  -compile "com.google.android.gms:play-services-base:10.2.4"
  -compile "com.google.android.gms:play-services-maps:10.2.4"
  +compile "com.google.android.gms:play-services-base:+"
  +compile "com.google.andr

[2020-01-09 09:11] #25 closed

[2020-01-09 09:20] Bruno-Furtado commented on #25
@SergeyMelnyk, thanks for sharing.

It looks like we had a dependencies incompatibility. The SMS Retriever module is using `v17.0.0` of `com.google.android.gms` and your app is using `v10.2.4`. When you change to `+`, it worked because you are using the latest version of these dependencies.

I can work to improve it on the module side. Give some days and I will publish this improvement.

[2020-01-14 05:41] NikitaNeganov commented on #20
@Bruno-Furtado nice, it works, thank you!

[2020-01-20 11:25] patilrahul9923 opened #26 "4 phone numbers giving on dialog. After clicked on button for fetching sim numbers but on dialog box 4 numbers giving me."
### Environment

* React Native Version
* Platform: iOS / Android / Both
* Device: Which One / Simulator
* OS Version
* react-native-sms-retriever version
* Devtools: Xcode Version / Android Studio Version
* Build Tools Version (Android only)

### Description

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or prints if needed.

### Solution

Do you

[2020-01-21 07:48] patilrahul9923 opened #27 "Same issue . addSmsListner not working when i get the message."
### Environment

* React Native Version
* Platform: iOS / Android / Both
* Device: Which One / Simulator
* OS Version
* react-native-sms-retriever version
* Devtools: Xcode Version / Android Studio Version
* Build Tools Version (Android only)

### Description

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or prints if needed.

### Solution

Do you

[2020-01-21 07:49] patilrahul9923 commented on #3
Same issue. addSmsListner not working after getting sms.

[2020-01-21 09:38] Bruno-Furtado commented on #3
@nielsdB97 / @patilrahul9923,

You can try to run the [example](https://github.com/Bruno-Furtado/react-native-sms-retriever/tree/master/example).
[Here](https://github.com/Bruno-Furtado/react-native-sms-retriever/wiki/SMS-Rules) is hash code for example.

Let me know if you have problems.

[2020-01-24 09:54] Bruno-Furtado commented on #27
@patilrahul9923 please describe the issue considerer the template.

[2020-01-24 09:54] #27 closed

[2020-01-24 09:54] Bruno-Furtado commented on #26
@patilrahul9923 please describe the issue considerer the template.

[2020-01-24 09:54] #26 closed

[2020-01-24 10:43] patilrahul9923 commented on #26
I am using redmi 5 phone. which is in two sim cards only but it will give me 4 mobile numbers.
in this two numbers not mine.
![Screenshot_2020-01-20-16-56-45-074_com google android gms](https://user-images.githubusercontent.com/42463350/73063309-82f7a000-3ec4-11ea-800b-5706f70f83cf.jpg)

[2020-01-24 10:46] patilrahul9923 commented on #26
And also another problem in sms reading, addSmsListner() is not working.

[2020-01-24 10:55] patilrahul9923 commented on #27
I have written code for otp fetching but I am not able to read sms . After getting the sms addSmsListner() not working.  please give me any solution for read the sms.

[2020-01-24 11:43] Bruno-Furtado commented on #26
@patilrahul9923 the modal is presented by Google API, not for the module. So, for Google you only have 4 numbers. I suggest you check your Google account. The other question I will answer here: https://github.com/Bruno-Furtado/react-native-sms-retriever/issues/27

[2020-01-24 11:45] Bruno-Furtado commented on #27
@patilrahul9923 you can check more details about how to read the SMS content [here](https://github.com/Bruno-Furtado/react-native-sms-retriever/wiki/SMS-Rules).

My suggestion: try to compile the [example](https://github.com/Bruno-Furtado/react-native-sms-retriever/tree/master/example) project of the repo using the same hash described on the [wiki](https://github.com/Bruno-Furtado/react-native-sms

[2020-02-10 08:47] kesha-antonov commented on #4
Hi
I wrote ruby script to get correct hash for SMS https://github.com/kesha-antonov/android-sms-verification-hash
Maybe it'll help future readers like me

[2020-02-10 08:48] kesha-antonov commented on #27
Hi
I wrote ruby script to get correct hash for SMS https://github.com/kesha-antonov/android-sms-verification-hash
Maybe it'll help future readers like me

[2020-02-27 20:08] kazzkiq opened #29 "Is <#> really necessary?"
Taking a look at the [SMS Retriever API](https://developers.google.com/identity/sms-retriever/verify), it seems there is no need to add the `<#>` code at the start of the message. Only the app hash string is needed.

So instead of sending this SMS:

[code]

You could simply send:

[code]

Which is better for user readability. What do you think?

[2020-03-02 10:54] vishdroid commented on #29
Any update on this ?

[2020-03-05 15:26] sanjay-dev-19 opened #30 "SMS Retriver API not working on Playstore Derived Build, But working in uploaded original build."
### Environment

* React Native Version - 0.59.5
* Platform:  Android
* react-native-sms-retriever version - 1.0.3

### Description

I worked on SMS retriever API (React Native Application Version = 0.59.5) and it worked successfully for my earlier app versions on debug mode, release mode and Play store also using package react-native-sms-retriever V-1.0.3. But last time, I updated build and SMS r

[2020-03-12 06:07] Miti063 commented on #13
@Bruno-Furtado I am still facing the issue on v1.1.1. So anyone with the fix?

[2020-03-12 17:56] devstarman opened #31 "Working with Expo"
### Environment

* React Native Version: 0.61.4
* Platform: Android
* Device: Xiaomi Redmi Note 4
* OS Version
* react-native-sms-retriever version: ~1.1.1
* Devtools: n/a (using device)
* Build Tools Version (Android only): EXPO

### Description

I've installed react-native-sms-retriever with npm as in docs and I encountered below error:
"TypeError: null is not an object (evaluating 'RNSmsRetriev

[2020-03-13 10:01] Bruno-Furtado commented on #31
@devstarman I'm not using Expo. Can you explain why we have the issue with Expo?

[2020-03-13 10:02] Bruno-Furtado commented on #30
@sanjay-dev-19 can you try to use the latest version of the module?

[2020-03-13 10:03] Bruno-Furtado commented on #29
@kazzkiq I saw the documentation and you are right. But I guess we don't need to do nothing on the module. It's just update our documentation, right?

[2020-03-13 16:32] rtman commented on #29
@Bruno-Furtado so long as it works without the <#> then just update the documentation i would think?

[2020-03-13 17:43] kazzkiq commented on #29
[Some articles](https://medium.com/@wilderpereira/secure-android-otp-account-verification-with-the-sms-retriever-api-c395c1985fbf) say that you can replace `<#>` with `\u200b\u200b` which are invisible to the user. I used those unicode characters in my app and this library worked perfectly with them.

So I guess its just a matter of updating the docs, yes.

[2020-03-13 17:43] #29 closed

[2020-03-16 07:19] sanjay-dev-19 commented on #30
Latest version of this module, I tried and the issue remains the same.
It is working fine in our generated production build but when we upload to the playstore it is not autofetching the message.
I think it can be hash code mismatch and tried to generate hash using signature helper class and checked with that hash code but still not working.

[2020-03-22 07:51] CarlosMayoralMX commented on #30
As long as i know derived app is resigned with another cert. I figured out days ago when i tried to install an update of my app trough Android Studio (using the same certificate i used to sign the previus version), it can't be installed because the signature wasn't the same.

[2020-03-22 08:01] sanjay-dev-19 commented on #30
Yes. Before our goes App goes live, play store will resigns our app using there deployment certificate.
I think there may be some problem in play store resign our apps.
I am getting this issue our 2 production App in playstore.
In our Both Apps previously auto fetch message working fine. When I recently updated our both apps in playstore, Both apps stopped autofetching message in play store builds

[2020-03-22 08:19] CarlosMayoralMX commented on #30
Why dont you try to make the hash with the certificate Play Store is using to resigning your app and put it into your sms messages instead the one you are  using to upload your apps?

[2020-03-23 16:17] nikolic-milan opened #33 "event.message returnig undefined"
### Environment

* React Native Version
* Platform: Android
* Device: Which One
* 10
* react-native-sms-retriever latest
* Android Studio Version latest
* Build Tools Version latest

### Description

`event.message` returning undefined,  `SmsRetriever.requestPhoneNumber()` works fine. Do I need to ask for premission?
My code just for testing
[code]

The Message I am sending
[code]
The above hash c

[2020-03-24 06:29] ThakurBallary commented on #33
Answer to side question: This library will work only on Android

[2020-03-24 06:48] ThakurBallary commented on #30
Hi All,
@sanjay-dev-19 did you try the above suggestion from @CarlosMayoralMX . Please update us.

[2020-03-24 10:20] sanjay-dev-19 commented on #30
@CarlosMayoralMX @ThakurBallary
Yes, Thanks for your suggestions.
I tried using both certificates. But they are not working once I upload build to Play store.

[2020-03-24 13:34] godlywilson10 opened #34 "event.message returns timeout"
### Environment

* React Native Version: 0.61.5
* Platform: Android
* Device: Moto G4(Plus)
* OS Version: 7.0
* react-native-sms-retriever version: ^1.1.1
* Devtools: Xcode Version: 11.0 / Android Studio Version: 3.5.2
* Build Tools Version (Android only)

### Description

event.message returns **{timeout: “Timeout error.”}**

### Code snippet
registered = await SmsRetriever.startSmsRetriever();

[2020-03-30 07:49] rocksudheer opened #35 "How to create Hask key for Android in React Native."
### Environment

* React Native Version
* Platform: iOS / Android / Both
* Device: Which One / Simulator
* OS Version
* react-native-sms-retriever version
* Devtools: Xcode Version / Android Studio Version
* Build Tools Version (Android only)

### Description

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or prints if needed.

### Solution

Do you

[2020-03-30 08:18] rocksudheer opened #36 "Unable to generate hash for Android"
### Environment

* React Native Version
* Platform:  Android
* react-native-sms-retriever version
* Devtools: VS Code
* Build Tools Version (Android only)

### Description
Can someone help how to use
 https://github.com/googlearchive/android-credentials/blob/master/sms-verification/android/app/src/main/java/com/google/samples/smartlock/sms_verify/AppSignatureHelper.java
to generate app hash in Rea

[2020-04-01 09:15] lucasroca commented on #13
Same here on v1.1.1. All good on first launch, but it crashes the app when reloading the emulator. Any suggestions?

[2020-04-09 13:28] VasimAjmeri opened #37 "Phone Number Fetching Issue"
### Environment

* React Native Version : 0.60+
* Platform:  Android
* Device: Redmi Note 7S
* OS Version : 9 Pie

### Description

I am getting this error :

ACTIVITY_RESULT_NOOK_ERROR_TYPE

 {"framesToPop":1,"nativeStackAndroid":[],"userInfo":null,"message":"There was an error trying to get the phone number.","code":"ACTIVITY_RESULT_NOOK_ERROR_TYPE","line":2130,"column":45,"sourceURL":"http://lo

[2020-04-11 17:32] sarmad1995 commented on #36
you this fork till the PR gets merged

    "react-native-sms-retriever": "https://github.com/sarmad1995/react-native-sms-retriever.git",
it has a method `getAppSignature` to receive your app has.

[2020-04-11 17:33] sarmad1995 commented on #35
use this fork till the PR gets merged

"react-native-sms-retriever": "https://github.com/sarmad1995/react-native-sms-retriever.git",
it has a method getAppSignature to receive your app hash.
You can also view the documentation in this fork.

[2020-04-24 10:48] vevnkataSukumar commented on #20
@Bruno-Furtado it didn't work for me. Only. for the first time it is listening but later not. Can u please give solution.

[2020-04-24 11:00] vevnkataSukumar commented on #20
check the code Snippet

            const registered = await SmsRetriever.startSmsRetriever();
            console.log("iSregistered: ", registered);
            if (registered) {
                SmsRetriever.addSmsListener(event => {
                    console.log("addSmsListener: ", event);
                    if ((event) && (event.message)) {
                        console.log(event.message);

[2020-04-27 16:37] gabrielmoncea commented on #37
Getting the same on Samsung Galaxy S7 (Android 8) and Pixel 2 emulator (Android 10)

[2020-05-01 10:37] MrQureshi commented on #36
is there any permanent solution to generate the hash. would you like to guide me?

[2020-05-03 15:27] yuritoledo opened #38 "Error in TS project"
### Environment

* Expo Version : 36
* Platform: Android
* Device: Genymotion default android 9
* react-native-sms-retriever version: ^1.1.1
 * Build Tools Version (Android only)

### Description

Error occurs on typescript react-native expo project.
I just copied the doc example and pasted in TS project.

[code]

![image](https://user-images.githubusercontent.com/18474538/80918037-36c8c100-8d39-1

[2020-05-06 14:01] hariks789 commented on #30
See if this helps @sanjay-dev-19
https://stackoverflow.com/a/55829661/6423570

[2020-05-06 15:18] sanjay-dev-19 commented on #30
@hariks789
Thanks for the reply,
I tried that and generated hash at first and it is working perfectly fine at the beginning.
Any how, I removed the auto fetch message functionality in app.

[2020-05-06 15:33] sarmad1995 commented on #36
yes, you can use my fork and my fork provides a method called
getAppSignature

const hash = await Smsretreview.getAppSignature();

[2020-05-07 10:37] MrQureshi commented on #36
thank you ... is that one time hash or we need to create again and again?

[2020-05-22 20:00] yuritoledo commented on #38
@Bruno-Furtado

[2020-06-19 18:24] felire opened #39 "Firebase Phone Authentication and Sms Retriever"
Is this working with Firebase Phone Authentication? in my case, it isn't triggering anything but I think that it's because firebase messages are in bad format which is a bit strange because both things are from google

[2020-06-22 13:05] felire commented on #39
I will close this issue, the firebase phone auth api consume the message directly

[2020-06-22 13:05] felire commented on #39
I will close this issue, the firebase phone auth api consume the message directly

[2020-06-22 13:05] #39 closed

[2020-06-26 07:16] jayzyaj commented on #34
having the same issue

[2020-07-10 05:06] mohamed-ikram opened #40 "I don't know how to open extended controls I am using a mobile device connected by USB"
### Environment

* React Native Version:0.63
* Platform: iOS / Android / Both
* Device: Which One / Simulator:Moto E4
* OS Version
* react-native-sms-retriever version:^1.1.1
* Devtools: Android Studio Version :4.0
* Build Tools Version (Android only)

### Description

I don't know how to open extended controls I am using a mobile device connected by USB

### Solution

The second step u have recei

[2020-07-13 13:17] mohamed-ikram commented on #36
@sarmad1995 i have checked ur project by adding this AppSignatureHelper.java alone can we call the getAppSignature() function and get hash value

[2020-07-16 19:40] #40 closed

[2020-07-23 04:53] shehzadosama commented on #36
@sarmad1995 Thanks man ! You are a life saver for me 👍.
Your fork should be merge in master.

[2020-08-04 10:31] utpal-d4l commented on #13
The app crashes in production if I use code push updates. I am using v1.1.1.

[2020-08-07 10:06] Hook-Da opened #42 "App crashs after installing package"
Hello. After installing package I tried to run app on emulator and real device android and app instantly crashs without giving any error. I have such dependencies
 "@react-native-community/async-storage": "^1.11.0",
    "@react-native-community/checkbox": "^0.4.2",
    "@react-native-community/masked-view": "^0.1.7",
    "@react-native-community/netinfo": "^5.9.4",
    "@react-navigation/bottom-ta

[2020-08-20 19:38] bailang1208 opened #43 "Can't SMS message"
### Environment

* React Native Version
* Platform: iOS / Android / Both
* Device: Which One / Simulator
* OS Version
* react-native-sms-retriever version
* Devtools: Xcode Version / Android Studio Version
* Build Tools Version (Android only)

### Description

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or prints if needed.

### Solution

Do you

[2020-09-03 20:54] khaja-nizamuddin1 commented on #4
When I run this command to fetch my hash, it returns the following error:
`keytool -exportcert -alias androiddebugkey -keystore '~\.android\debug.keystore' | xxd -p | tr -d "[:space:]" | echo -n com.opick.app cat | sha256sum | tr -d "[:space:]-" | xxd -r -p | base64 | cut -c1-11`

![Capturesss](https://user-images.githubusercontent.com/13907986/92166136-c00e1280-ee55-11ea-94e7-195aba04b81a.JPG)

A

[2020-09-04 06:21] shehzadosama commented on #4
@khaja-nizamuddin1 check your command you are running on command prompt. It contains `echo -n <<<com.sms_listener>>>` instead of your app package name that is `com.opick.app`

[2020-09-10 14:08] siva-bathula commented on #31
I am also looking for a react native with expo solution for sms retrieval. I get the same error as mentioned above
TypeError: null is not an object (evaluating 'RNSmsRetrieverModule.requestPhoneNumber').

Can you provide a fix for this?

[2020-09-22 03:11] kyled7 commented on #13
The app crashes after get Codepush update on production. Can someone help with fix?

[2020-10-02 15:02] StanBorovko commented on #38
I have same problem. I've installed react-native-sms-retriever, imported it into my code and the app is crashed with the same message. If I remove import - all works.

[2020-10-02 15:36] StanBorovko commented on #31
I'm using expo 3.25.0. I am trying to get RNSmsRetrieverModule from NativeModules and as a result I get RNSmsRetrieverModule === null.

[code]

[2020-10-05 08:22] edwardigates commented on #34
@godlywilson10 @jayzyaj  Did you find a solution?

[2020-10-05 12:07] Vluf commented on #33
I'm getting the same issue randomly in production.

[2020-10-06 12:02] sivaLeo commented on #42
i have same issue +1

[2020-10-10 08:04] iamurali commented on #13
was able to check if mGoogleApiClient is already connected or not solved the problem for me. Need to make change condition in https://github.com/Bruno-Furtado/react-native-sms-retriever/blob/master/android/src/main/java/me/furtado/smsretriever/PhoneNumberHelper.java#L105

[code]

[2020-10-20 19:02] ketanbhardwaj commented on #34
Same issue

[2020-11-01 22:52] stepdi commented on #4
On a Mac I could get this command to work properly:

``echo -n "com.yourappname" `keytool -exportcert -keystore ./android/app/debug.keystore -alias androiddebugkey | xxd -p | tr -d "[:space:]"` | sha256sum | xxd -r -p | base64 | cut -c1-11
``

Now I've got hash and it is working. I see my message in my app.
I also needed to install coreutils (brew install coreutils) in order to get sha256sum to wo

[2020-11-14 17:15] Fawaz456 opened #44 "Getting country code along the number"
### Environment

* React-Native Version: 0.63.3
* Platform: Android
* Mobile Model : VIVO
* OS Version : 6.0
* react-native-sms-retriever version: 1.1.1
* Actual Device

### Description

Getting phone number along the country code.

`const phoneNumber = await SmsRetriever.requestPhoneNumber();
console.log(phoneNumber);`

This console the value "+9178******21"

Would like to know if I can get only

[2020-11-15 20:23] mm7mod commented on #37
facing same issue with samsung A20

[2020-11-17 11:25] Krunal-Kevadiya commented on #34
Same issue

[2020-12-01 12:18] Yashpk789987 commented on #36
@Bruno-Furtado please merge this PR ASAP.
@sarmad1995 Great Job ! Man thank you
:kissing_heart: :kissing_heart: :kissing_heart:

[2020-12-02 07:49] HadisSharif commented on #31
I have the same issue. No solution?

[2020-12-02 07:52] HadisSharif opened #45 "Expo app crashes"
### Environment

* React Native Version
* Platform: iOS / Android / Both
* Device: Which One / Simulator
* OS Version
* react-native-sms-retriever version
* Devtools: Xcode Version / Android Studio Version
* Build Tools Version (Android only)

### Description

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or prints if needed.

### Solution

Do you

[2020-12-24 17:41] tanmoythander commented on #30
Same Problem here.
I am using,
react-native: 0.63.3,
react-native-sms-retriever: 1.1.1

[2020-12-27 08:44] tanmoythander commented on #30
The reason behind the sms retrieving issue on google play version is the signing certificate. When you are building the app for uploading the app to play store, you use a certificate to sign the app is referred to as **Upload key certificate**. After you upload the build to play store, play store checks the upload certificate to make sure the build is really built by you. But before publishing the

[2020-12-30 05:34] ssiju commented on #45
I have the same issue

[2021-01-14 00:30] Diego-sdd commented on #13
Any update on this?

[2021-01-16 07:11] gandarain commented on #34
same issue

[2021-01-21 15:56] hhashem1 opened #47 "App crashes on iOS"
### Environment

* React Native Version 62.2
* Platform: iOS
* Device: Simulator
* OS Version 12
* react-native-sms-retriever version 1.1.1
* Xcode Version 12.3

### Description

The library is working fine on Android. But trying to run it on iOS the app crashes with the following error:

Error: InternalError Metro has encountered an error: While trying to resolve module `react-native-sms-retrieve

[2021-01-22 13:39] JorgeFPeres commented on #47
**First check this:**

This can happen if you have a custom configuration for metro and haven't specified ts and tsx as valid extensions.
These extensions are present in the default configuration. To check if this is the issue, look for a metro.config.js file in your project and check if you have specified the sourceExts option. It should at least have the following configuration:

sourceExts: ['j

[2021-01-25 09:11] hhashem1 commented on #47
Thank you for your help. The second solution solved the problem.

[2021-01-25 09:11] #47 closed

[2021-01-25 16:43] orhangazi commented on #31
I have the same issue. Are there any solution?

[2021-01-25 16:45] orhangazi commented on #45
I have the same issue. Are there any solution?

[2021-01-27 18:32] alezoffoli commented on #45
I can confirm I have the same issue, only on Android

[2021-01-28 09:55] Himatheja opened #48 "Will addListener listens the message multiple times?"
### Environment

* React Native Version - 0.61.4
* Platform: Both
* Device: All Physical devices
* OS Version - android Pie
* react-native-sms-retriever version - 1.1.1
* Devtools: Xcode Version / Android Studio Version - Both
* Build Tools Version (Android only)

### Description

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or prints if needed.

[2021-02-10 06:27] #44 closed

[2021-02-10 10:56] mushroomgenie commented on #34
same issue @Bruno-Furtado could you please look into this?

[2021-02-19 17:09] roseKQ commented on #33
Did you resolve this issue? I am experiencing the same problem

[2021-03-01 16:12] oxyii opened #49 "Multiple requestPhoneNumber"
Sometimes js bundle can be reloaded / restarted (i.e. via Code-Push) without native restart. And if SmsRetriever has been started before js restarts, then we have app crash (or red screen on debug) after js restarts, when SmsRetriever tries to register second time. `Already managed a GoogleApiClient with id 0`

[2021-03-02 06:34] oxyii commented on #49
Oh... Sorry. This error returned from `requestPhoneNumber` but not `startSmsRetriever`

[2021-03-02 07:23] oxyii commented on #49
dup #13

[2021-03-02 14:12] Dror-Bar commented on #37
Does anyone know the cause for this? or have any solution?

[2021-03-02 14:28] Dror-Bar opened #51 "Remove Listener?"
In the example - once activated, the SmsListener is only removed after an Sms is received.
What if an Sms isn't received? what if the app is closed?

This could lead to potential data leak.
You should remove the listener when the component unmounts - for example, using useEffect.
The example should be updated to represent this. I think it's really important.

[2021-03-02 15:51] Dror-Bar commented on #36
@sarmad1995 I tried your fork, but I'm getting this error:

`TypeError: _reactNativeSmsRetriever.default.getAppSignature is not a function. (In '_reactNativeSmsRetriever.default.getAppSignature()', '_reactNativeSmsRetriever.default.getAppSignature' is undefined`

[2021-03-03 09:37] TeamDlxx commented on #37
I am also facing the same issue. Anyone?

[2021-03-08 22:58] assassins719 opened #52 "App crashes"
After installing the package and run the project, I get this error message
![image](https://user-images.githubusercontent.com/24938049/110393016-dfba0980-8037-11eb-8b4e-239cebdcb315.png)

[2021-03-10 11:15] blastering66 commented on #34
same here... its because the wrong hashkey

[2021-03-11 03:31] abbyhilman commented on #33
I have same problem for this issue, how can resolve this issue ?

[2021-03-12 05:45] rahulje9 commented on #13
any update on this?

[2021-03-24 03:00] DEVfancybear commented on #52
+1

[2021-03-26 11:25] tinydiv333 commented on #37
Anyone find any solution ?

[2021-04-02 14:57] cyhn1520 commented on #13
This problem still continues.

[2021-04-22 11:50] krishna11124 opened #54 "In ios"
Hello there,is it working on ios????

[2021-04-29 02:10] rohithramachandran commented on #13
Any plan to fix this ?

[2021-05-03 16:07] wontone18 commented on #37
i am thinking its having bug. its not working at all.

[2021-05-15 20:35] pritamparker commented on #37
any alternative library?

[2021-05-21 23:39] meliodev commented on #37
I get the same error with Samsung A21. Maybe because it's a double SIM CARD ??

[2021-06-05 10:11] tinydiv333 commented on #54
Have you found a solution?

[2021-06-09 07:35] Saad9624 opened #60 "app Crashed after installing the package"
### Environment

* React Native Version
* Platform: iOS / Android / Both
* Device: Which One / Simulator
* OS Version
* react-native-sms-retriever version
* Devtools: Xcode Version / Android Studio Version
* Build Tools Version (Android only)

### Description

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or prints if needed.

### Solution

Do you

[2021-06-09 09:07] Saad9624 commented on #52
+1

[2021-06-16 15:21] shahdeep11295 opened #61 "already managing a googleapiclient with id 0"
on v1.1.1. All good on first launch, but it crashes the app when reloading the emulator. Any suggestions?

[2021-07-23 11:42] sergiosilvajr commented on #54
For now, There is no way to this lib work on iOS. I am using the prop  textContentType="oneTimeCode" on my TextInput to handle sms content.  iOS version must be >= 12

[2021-07-23 11:48] sergiosilvajr commented on #36
@Dror-Bar since it changes native code.. You should do a rebuild in order to avoid this error. and remember: it works only on Android. :)

[2021-09-07 07:46] ashadnasim52 commented on #13
Is there any fix for this bug? Still, getting this error

[2021-09-14 15:42] Diwakar14 commented on #37
Not working in latest android, however working in Android 8.1. Please somebody help

[2021-11-19 08:45] gilbertl commented on #61
The problem is described in this SO thread: https://stackoverflow.com/questions/36105118/error-in-fragment-already-managing-a-googleapiclient-with-id-0

The solution there is a bit more complicated than I wanted, so I applied this hacky patch instead:

[code]

[2021-12-11 19:41] shivabhusal commented on #13
It only crashes in development mode when you reload app by shaking phone or pressing `r` in metro-bundler console.

To fix it, close the app and open it again.

[2022-01-02 09:22] Kumar2106 commented on #15
This issue is still existing. Right now i am working on react native project. When i am running through npm run android, it is working fine but when i am using expo start it is giving me the same issue, i don't know why this is happening.

[2022-01-11 08:51] hubertstruminski opened #68 "Hash string - how hide it inside sms ?"
Hi,

I have everything working, but when SMS comes I see in the content that hash string and <#>. Is it possible to hide it so that user can not see it ?

[2022-01-12 01:39] GustavoBonfimS opened #69 "Problems generating the Hash and using the lib"
### Environment

* React Native Version: 0.64.3
* Platform: Android
* OS Version: Fedora 35
* react-native-sms-retriever version: 1.1.1

### Description
Everyone is having problems creating the hash and using the lib and not getting any help

### Solution

I finally got it after many tries

timeout error or event.message == null:
Apparently what causes this is the incorrect hash.
I found it by deb

[2022-01-12 01:41] GustavoBonfimS commented on #68
Maybe this will help
https://github.com/Bruno-Furtado/react-native-sms-retriever/issues/69

[2022-01-12 01:41] GustavoBonfimS commented on #43
Maybe this will help
https://github.com/Bruno-Furtado/react-native-sms-retriever/issues/69

[2022-01-12 01:43] GustavoBonfimS commented on #34
https://github.com/sarmad1995/react-native-sms-retriever

[2022-01-12 01:43] GustavoBonfimS commented on #34
maybe this will help
https://github.com/Bruno-Furtado/react-native-sms-retriever/issues/69

[2022-02-03 17:33] wdospinal opened #70 "This library keeps working?"
[developers](https://developers.google.com/identity/sms-retriever/overview)
### Description

I saw google updated the documentation, this library keeps working?

[2022-02-03 19:36] starm7md opened #71 "just an inquiry"
can i use this script to verify my twitter account ? , and thanks a lot

[2022-02-08 15:44] thiago-soliveira commented on #4
This is the only way that worked for me

[2022-05-07 12:33] eswaranarumugam1 opened #76 "Not working on Samsung and One plus. Unable to get mobile number on these devices"
### Environment

* React Native Version
* Platform: iOS / Android / Both
* Device: Which One / Simulator
* OS Version
* react-native-sms-retriever version
* Devtools: Xcode Version / Android Studio Version
* Build Tools Version (Android only)

### Description

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or prints if needed.

### Solution

Do you

[2022-05-26 08:29] AbdullahAsendar commented on #13
@shivabhusal it will crash on release mode as well if you are using codepush which restarts the application after a successful update

[2022-06-14 08:17] supercool27 opened #79 "getting error while reading phone number in react native"
### Environment

* React Native Version
* Platform: iOS / Android / Both
* Device: Which One / Simulator
* OS Version
* react-native-sms-retriever version
* Devtools: Xcode Version / Android Studio Version
* Build Tools Version (Android only)

### Description

{"nativeStackAndroid":[],"userInfo":null,"message":"There was an error trying to get the phone number.","code":"ACTIVITY_RESULT_NOOK_ERROR_

[2022-06-30 17:50] ShashankSurvase opened #80 "Not detecting SMS when used in react-native module library"
### Environment

* React Native Version: 0.66.3
* Platform: Android
* Device: All android devices / Simulator
* OS Version: Android 11
* react-native-sms-retriever version 1.1.1
* Devtools: Android Studio Version - Bumblebee 2021.1.1
* Build Tools Version (Android only) 4.2.2

### Description
I am using the library as a peer dependency in my react-native module. The module hold the logic for start

[2022-07-07 05:57] yogeshBright opened #81 "android app is crashing"
* React Native Version
* Platform:  Android
* Device: samsung galaxy s8
* OS Version android 9
* react-native-sms-retriever version
* Devtools: Xcode Version / Android Studio Version
* Build Tools Version (Android only)

react native app is crashing with following errors. this crash is occur to prod users. we are unable to replicate this issue. thank you.

Fatal Exception: java.lang.VerifyError: S

[2022-08-02 04:39] kawsar6848 opened #82 "Un able to retrieve message in release mode react-native-sms-retriever"
![Inked2](https://user-images.githubusercontent.com/35378954/182292598-04946b90-64ea-41e8-8f74-765941b9beb8.jpg)
This is the hash I am using for release..It is not working though. I did not upload the file to play store till now because I wanted to make whether it will work or not

[2022-08-09 13:37] RRaideRR commented on #70
It seems it is not working with Android 12. Have you found a different solution in the meantime?

[2022-09-09 06:44] gowtham-orgfarm commented on #45
Same issue yet. Any solution guys

[2022-09-09 10:25] gowtham-orgfarm commented on #52
+1

[2022-09-09 10:27] yusufboran commented on #15
I get this error. I'm not sure if the library works with expo

[2022-10-18 01:51] hassanrazzaqshaikh opened #84 "Unable to retrieve SMS with correct HASH."
### Environment

* React Native Version: 0.66.3
* Platform: Android
* Device: All
* OS Version : all
* react-native-sms-retriever version: 1.1.1
* Devtools: Visual Code
* Build Tools Version (Android only)

### Description

With the correct has generated, SMS was not detected.

### Solution

I have created a fix and will create pull request with the fix.